*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.my-div {
  width: 1920px !important;
  height: 100px !important;
}

.div1 {
  background-color: rgb(206, 179, 179);
}

.div2 {
  background-color: rgb(204, 236, 204);
}

.div3 {
  background-color: rgb(188, 188, 232);
}

.div4 {
  background-color: #f5e7ce;
}

.div5 {
  background-color: rgb(243, 212, 243);
}


/* базовый вид */
.click-box {
  position: absolute;
  width: 80px;
  height: 80px;
  background: white;
  border: 2px solid black;
  cursor: pointer;
}

/* точные координаты */
.click-box[data-id="1"] {
  left: 200px;
  top: 250px;
}

.click-box[data-id="2"] {
  left: 150px;
  top: 350px;
}

.click-box[data-id="3"] {
  left: 250px;
  top: 450px;
}

.click-box[data-id="4"] {
  left: 450px;
  top: 100px;
  width: 400px;
}

/* состояние после клика */
.click-box.active {
  background: red;
}